.row {
  max-width: 96%;
  margin: 0 auto; }
  .row .col-1-of-4 {
    width: calc( (100% - 4*6rem) /4);
    margin: 0 calc(6rem / 2) 8vh calc(6rem / 2); }
    @media only screen and (max-width: 900px) {
      .row .col-1-of-4 {
        width: 85%;
        margin: 6vh auto; } }

@font-face {
  font-family: 'Azonix';
  src: url(fonts/Azonix.otf); }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 900px) {
    html {
      font-size: 50%; } }

body, ul, li, p, h1, h2, h3, h4 {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0; }

ul li {
  list-style-type: none; }

.clear {
  clear: both; }

::selection {
  background-color: firebrick;
  color: white; }

.button {
  background-color: firebrick;
  color: white;
  padding: 0;
  border: none;
  cursor: pointer;
  font-size: 22px;
  height: 60px; }
  .button:focus {
    outline: none; }
  .button__load-more {
    width: 120px;
    border-radius: 15px;
    margin-left: 15%; }
  .button__movie-roulette {
    width: 60px;
    border-radius: 30px;
    padding: 0;
    margin-right: 10%;
    float: right; }

.render-movies {
  width: 100%; }

.movie {
  text-align: center;
  cursor: pointer;
  float: left;
  padding: 1% 0;
  border-radius: 5px;
  box-shadow: 0rem 0.2rem 1rem rgba(0, 0, 0, 0.2);
  transition: all .2s; }
  @media only screen and (max-width: 900px) {
    .movie {
      float: none; } }
  .movie:hover {
    box-shadow: 0rem 0.4rem 1.5rem rgba(0, 0, 0, 0.15);
    transform: translateY(-5px); }
  .movie-img {
    margin: 0 auto; }
  .movie-name-year {
    font-size: 1.8rem; }
  .movie-lang, .movie-rating {
    font-size: 1.6rem; }

.overlay {
  display: none;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(10px);
  transition: all .4s; }
  .overlay-content {
    background-color: white;
    width: 50%;
    margin: 0 auto;
    margin-top: 3%;
    padding: 1%;
    box-shadow: 1px 10px 15px rgba(0, 0, 0, 0.3); }
    @media only screen and (max-width: 900px) {
      .overlay-content {
        width: 85%;
        margin-top: 10%; } }

.closebtn {
  font-size: 50px;
  margin-top: -25px;
  text-decoration: none;
  color: #333;
  cursor: pointer;
  transition: all .3s; }
  @media only screen and (max-width: 900px) {
    .closebtn {
      font-size: 30px;
      margin-top: -20px; } }
  .closebtn:hover, .closebtn:focus {
    color: firebrick; }

.movie-ol__first-row {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center; }
  @media only screen and (max-width: 900px) {
    .movie-ol__first-row {
      margin: 2vh 2% 0 2%; } }

.movie-ol-name-year-ol {
  margin-bottom: 15px;
  font-size: 2.4rem; }

.movie-ol-img-ol {
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative; }
  @media only screen and (max-width: 900px) {
    .movie-ol-img-ol {
      height: 175px;
      background-size: contain; } }

.movie-ol-overview-ol, .movie-ol-rating-ol, .movie-ol-popularity-ol, .movie-ol-lang-ol {
  margin: 15px 10px;
  font-size: 1.6rem; }

.movie-ol-star-rating-ol {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 50%;
  height: 55px;
  background-color: #fff;
  color: lightgray;
  padding: 0 10px; }
  @media only screen and (max-width: 900px) {
    .movie-ol-star-rating-ol {
      width: 75%;
      height: 35px;
      bottom: -1px;
      left: -1px; } }
  .movie-ol-star-rating-ol span {
    font-size: 40px; }
    .movie-ol-star-rating-ol span:hover {
      cursor: pointer; }
    @media only screen and (max-width: 900px) {
      .movie-ol-star-rating-ol span {
        font-size: 20px; } }

.genres-form {
  margin: 35px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem; }
  @media only screen and (max-width: 900px) {
    .genres-form {
      margin: 15px;
      grid-template-columns: 1fr 1fr;
      grid-gap: .5rem; } }

.form__row {
  display: flex;
  flex-direction: row-reverse; }

.form__close-btn {
  font-size: 60px;
  margin: -20px 0px;
  text-decoration: none;
  color: #333;
  cursor: pointer;
  transition: all .3s; }
  @media only screen and (max-width: 900px) {
    .form__close-btn {
      font-size: 40px;
      margin: -10px 4px -15px 0px; } }
  .form__close-btn:hover, .form__close-btn:focus {
    color: firebrick; }

.form__radio-group {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.7);
  padding: 15px;
  width: 100%;
  box-sizing: border-box; }
  @media only screen and (max-width: 900px) {
    .form__radio-group {
      box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);
      padding: 10px;
      display: flex; } }

.form__radio-input {
  display: none; }

.form__radio-label {
  font-size: 16px;
  cursor: pointer;
  position: relative;
  padding-left: 35px; }
  @media only screen and (max-width: 900px) {
    .form__radio-label {
      font-size: 14px;
      padding-left: 35px; } }

.form__radio-button {
  height: 15px;
  width: 15px;
  border: 5px solid firebrick;
  border-radius: 50rem;
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: -2px; }
  @media only screen and (max-width: 900px) {
    .form__radio-button {
      height: 10px;
      width: 10px;
      top: 0px; } }
  .form__radio-button::after {
    content: "";
    display: block;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: firebrick;
    opacity: 0;
    transition: opacity .15s; }
    @media only screen and (max-width: 900px) {
      .form__radio-button::after {
        height: .8rem;
        width: .8rem; } }

.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
  opacity: 1; }

.genres-form-send-genre {
  margin: 25px auto;
  display: grid;
  width: 120px;
  height: 55px;
  background-color: firebrick;
  color: white;
  text-transform: uppercase;
  font-size: 24px;
  border: none;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
  transition: all .2s; }
  @media only screen and (max-width: 900px) {
    .genres-form-send-genre {
      margin: 15px auto;
      width: 120px;
      height: 35px;
      font-size: 18px; } }
  .genres-form-send-genre:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.4); }
  .genres-form-send-genre:focus {
    outline: none;
    transform: translateY(2px);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4); }

.movies-container {
  width: 100%;
  margin: 50px auto; }
  @media only screen and (max-width: 900px) {
    .movies-container {
      margin: 0px auto; } }

.button-container {
  width: 100%;
  text-align: center;
  margin-bottom: 40px;
  height: 60px; }

.header {
  text-align: center;
  width: 100%;
  background-color: firebrick;
  color: white; }

.heading-primary {
  font-family: "Azonix", sans-serif;
  font-size: 30px;
  padding: 30px; }

.footer {
  display: flex;
  justify-content: flex-end; }
  .footer__credits {
    padding: 20px; }
