//COLORS

$color-primary: firebrick;
$color-white: white;
$color-black: #000;


$color-gray-light-1: #f7f7f7;
$color-gray-light-2: rgb(211, 211, 211);

$color-gray-dark: #777;
$color-gray-dark-2: #999;
$color-gray-dark-3: #333;

$gutter-horizontal: 6rem;

.row {
    max-width: 96%;
    margin: 0 auto;

    .col-1-of-4 {
        width: calc( (100% - 4*#{$gutter-horizontal}) /4 ); 
        margin: 0 calc(#{$gutter-horizontal} / 2) 8vh calc(#{$gutter-horizontal} / 2);
    }
}

@font-face {
    font-family: 'Azonix';
    src: url(fonts/Azonix.otf);
}

html {
    font-size: 62.5%;
}

body, ul, li, p, h1, h2, h3, h4 {
    font-family: "Lato", sans-serif;
    margin: 0;
    padding: 0;
}

ul li{
	list-style-type: none;
}

.clear {
    clear: both;
}

::selection {
    background-color: $color-primary;
    color: $color-white;
}

@import "components/buttons";
@import "components/movies";
@import "components/overlay";

@import "pages/home";