.header {
    text-align: center;
    width: 100%;
    background-color: $color-primary;
    color: $color-white;
}

.heading-primary {
    font-family: "Azonix", sans-serif;
    font-size: 30px;
    padding: 30px;
}