body, ul, li, p, h1, h2, h3, h4 {
	margin: 0;
	padding: 0;
    font-family: sans-serif;
}

ul li{
	list-style-type: none;
}

.clear {
    clear: both;
}

.hide{
    display: none;
}

.top{
    padding-top: 15px;
    text-align: center;
    width: 100%;
    height: 50px;
    background-color: firebrick;
    color: white;
}

.render-movies{
    float: left;
    width: 100%;;
}

.movies-container{
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    float: left;
}

.movies-container-wrapper ul li{
    width: 21%;
    margin-left: 2%;
    margin-right: 2%;
    float: left;
    margin-bottom: 25px;
    padding-top: 1%;
    padding-bottom: 1%;
}

.movies-container-wrapper ul li:hover{
    box-shadow:  1px 1px 15px rgba(0, 0, 0, .15);
}

.movie{
    cursor: pointer;
}

.movie-img{
   margin-left: 21%;;
}

.movie-name-year{
    text-align: center;
}

.movie-lang {
    text-align: center;
    font-size: 14px;
}

.movie-rating{
    text-align: center;
}

.button-container{
    width: 100%;
    text-align: center;
    margin-bottom: 100px;
}

.load-more{
    width: 120px;
    height: 60px;
    background-color: firebrick;
    color: white;
    border-radius: 15px;
    align-content: center;
    padding: 0;
    border: none;
    cursor: pointer;
    margin-left:15%;
    font-size: 22px;
}

button:focus {
    outline:0;
}

.movie-roulette {
    width: 60px;
    height: 60px;
    background-color: firebrick;
    color: white;
    border-radius: 30px;
    align-content: center;
    padding: 0;
    border: none;
    cursor: pointer;
    margin-right: 10%;
    float: right;
    font-size: 22px;
}

.overlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0px;
    left: 0;
    background-color: rgb(241, 241, 241);
    background-color: rgba(241, 241, 241, 0.95);
    color: black;
  }
  
  
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #b3b3b3;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 10px;
    right: 45px;
    font-size: 60px;
  }

.overlay-content {
    /* border: black 1px solid; */
    box-shadow:  1px 1px 15px rgba(0, 0, 0, .3);
    background-color: #dedede;
    position: relative;
    top:10%;
    margin-left: 24%;
    margin-right: 24%;
    width: 52%;
    margin-top: 10px;
    padding: 1%;
  }

.render-a-movie{

}

.movie-ol{ 

}

.movie-name-year-ol {
    margin-bottom: 10px;
    font-size: 24px;
    text-align: left;
    margin-left:10px;
}

.movie-img-ol {
    text-align: center;
    margin-bottom: 10px;
}

.movie-overview-ol {
    font-size: 14px;
    width: 750px;
    height: 70px;
    position: absolute;
    bottom: 140px;
    left: 25px;
    background-color: black;
    color: white;
    padding: 10px;    
}

.test-class{
    width: 100%;
    display: inline-block;
    
}

.movie-rating-ol {
    width: 45%;
    margin-left: 10px;
    float: left;
    display: inline;
    margin-top: 10px;
} 

.movie-star-rating-ol {
    float: left;
    width: 45%;
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: right;
    font-size: 28px;
  }
  .movie-star-rating-ol > span {
    position: relative;
    width: 1.1em;
  }
  .movie-star-rating-ol > span:hover,
  .movie-star-rating-ol > span:hover ~ span {
    color: transparent;
    cursor: pointer;
  }
  .movie-star-rating-ol > span:hover:before,
  .movie-star-rating-ol > span:hover ~ span:before {
     content: "\2605";
     position: absolute;
     left: 0; 
     color:black;
  }

.movie-popularity-ol {
    
    margin-bottom: 15px;
    margin-left:10px;
} 

.movie-lang-ol {
    
    margin-bottom: 15px;
    margin-left:10px;
}
