.render-movies{
    width: 100%;
}

.movie{
    text-align: center;
    cursor: pointer;
    float: left;
    padding: 1% 0;
    border-radius: 5px;
    box-shadow:  0rem 0.2rem 1rem rgba(0, 0, 0, .2);
    transition: all .2s;

    @media only screen and (max-width: 900px ) {
        float: none;
    } 

    &:hover {
        box-shadow:  0rem 0.4rem 1.5rem rgba(0, 0, 0, .15);
        transform: translateY(-5px);
    }

    &-img {
        margin: 0 auto;
    }

    &-name-year {
        font-size: 1.8rem;
    }

    &-lang, &-rating {
        font-size: 1.6rem;
    }    
}